 /* 1. Шапка */
 .header {
    background: #fff;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #eee;
  }
  /* Верхний информационный блок */
.top-bar {
    background: #f5f5f5;
    padding: 5px 0;
    font-size: 12px;
    color: #888;
}

.top-bar-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-bar-contacts {
    display: flex;
    gap: 20px;
}

.top-bar-item a {
    text-decoration: none;
    color: #959595;
    transition: color 0.3s;
}

.top-bar-item a:hover {
    color: #52bc4a;
}

.top-bar-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.top-bar-item img {
    width: 16px;
    height: 16px;
}

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0 15px 0;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    display: block;
    height: 40px;
  }

  .header-text {
    font-size: 12px;
    color: #888;
    margin-left: 15px;
   }

  .nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  .nav ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #4d4d4d;
    font-weight: 600;
    transition: transform 0.2s ease, color 0.3s ease; /* Плавный переход */
  }
  .nav ul li a:hover {
    color: #52bc4a;
    transform: scale(1.1); /* Увеличение на 10% */
  }


/* Мобильная версия для top-bar */
@media (max-width: 768px) {
  .top-bar-container {
      display: grid;
      grid-template-columns: 1fr 1fr; /* 50/50 разделение */
      grid-template-rows: auto auto;  /* Две строки для второй колонки */
      gap: 10px;
      column-gap: 50px;
  }

  .top-bar-contacts {
      display: contents;
  }

  .top-bar-item {
      display: flex;
      align-items: center;
      gap: 8px;
  }

  /* Первая ячейка - занимает всю левую колонку */
  .top-bar-item:first-child {
      grid-column: 1;
      grid-row: 1 / span 2; /* Захватывает обе строки */
      align-self: center;   /* Центрирование по вертикали */
  }

  /* Вторая колонка - разделение на слоты */
  .top-bar-item:nth-child(2) {
      grid-column: 2;
      grid-row: 1;          /* Слот 1 */
  }

  .top-bar-item:nth-child(3) {
      grid-column: 2;
      grid-row: 2;          /* Слот 2 */
  }

  .address-link {
      white-space: normal;
  }
}