 /* 1. Шапка */
 .header {
    background: #fff;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #eee;
  }
  /* Верхний информационный блок */
.top-bar {
    background: #f5f5f5;
    padding: 5px 0;
    font-size: 12px;
    color: #888;
}

.top-bar-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-bar-contacts {
    display: flex;
    gap: 20px;
}

.top-bar-item a {
    text-decoration: none;
    color: #959595;
    transition: color 0.3s;
}

.top-bar-item a:hover {
    color: #52bc4a;
}

.top-bar-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.top-bar-item img {
    width: 16px;
    height: 16px;
}

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0 15px 0;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    display: block;
    height: 40px;
  }

  .header-text {
    font-size: 12px;
    color: #888;
    margin-left: 15px;
   }

  .nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  .nav ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #4d4d4d;
    font-weight: 600;
    transition: transform 0.2s ease, color 0.3s ease; /* Плавный переход */
  }
  .nav ul li a:hover {
    color: #52bc4a;
    transform: scale(1.1); /* Увеличение на 10% */
  }


/* Мобильная версия для top-bar */
@media (max-width: 768px) {
  /* Разделение контейнера на 2 колонки */
  .top-bar-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 50/50 */
    gap: 20px; /* Отступ между колонками */
  }

  /* Первая колонка: только address-link */
  .top-bar-contacts .top-bar-item:first-child {
    display: flex;
    align-items: center; /* Центрируем по высоте */
    justify-content: flex-start; /* Выравнивание по левому краю */
  }

  /* Вторая колонка: Email и Телефон в столбик */
  .top-bar-contacts .top-bar-item:nth-child(2),
  .top-bar-contacts .top-bar-item:nth-child(3) {
    display: flex;
    flex-direction: column; /* Вертикальное расположение */
    align-items: flex-start; /* Выравнивание по левому краю */
    justify-content: center; /* Центрируем по высоте */
  }

  /* Дополнительные стили для иконок */
  .top-bar-item img {
    margin-right: 8px; /* Отступ между иконкой и текстом */
  }
}





