/* Общие стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.slider-container {
  width: 90%;
  overflow: hidden;
  position: relative;
  max-width: 1200px;
    margin: 0 auto;
}

.slider {
  display: flex;
  transition: transform 1s ease-in-out;
}

.slide {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-shrink: 0; /* Это предотвращает сжатие слайдов */
  opacity: 0; /* Скрыть слайды по умолчанию */
  transition: opacity 1s ease-in-out;
}

/* Стиль для активного слайда */
.slide.active {
  opacity: 1;
}

.left-side {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-side {
  width: 50%;
  overflow: hidden;
}

.right-side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Стили заголовка */
.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Стили описания */
.description {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
  flex-grow: 1;
}

/* Стили кнопки */
.btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  width: 150px;
}

/* Эффект при наведении на кнопку */
.btn:hover {
  background-color: #0056b3;
}

