body {
  margin: 0;
  padding: 0;
  background-color: #808080; /* Серый фон */
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  padding: 10px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.top-menu li {
  margin: 0 15px;
}

.top-menu a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.top-menu a:hover {
  color: green;
}

.logo img {
  height: 50px;
}

.sidebar {
  width: 200px;
  background-color: #444;
  color: white;
  padding: 15px;
  position: fixed;
  left: 0;
  top: 50px;
  height: 100%;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.sidebar a:hover {
  color: green;
}

main {
  margin-left: 220px;
  padding: 20px;
  width: 90%;
}

.content-container {
  width: 90%;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-text {
  width: 50%;
}

.content-image {
  width: 50%;
  text-align: right;
}

.hero-image {
  max-width: 100%;
  border-radius: 10px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
